h1{
    text-align: center;
    
}


img{
    height: 400px;
    width:400px;
    float:right;
}

.div{
    height:300px;
    width: 200px;
}


.image3{
    float: right;
    margin-top: 20px;
    height:300px;
}

P{

    height: 300px;
}

.image4{
    float: right;
}
    
